:root {
    --purple: #3A10E5;
    --lightblue: #D3F2FF;
    --yellow: #FFD300;
    --lightgreen: #EAFDC6;
    --green: #9DD329;
    --navy: #10162F;
}

* {
    font-family: 'Fira Code', monospace;
    font-size: 16px;
    color: var(--navy);
}

header {
    text-align: center;

}

body {
    min-height: 100vh;
    background-color: var(--lightblue);
}

main {
    
}

h1 {
    font-family: 'Share Tech Mono', monospace;
    font-size: 3em;
    color: var(--purple);
}

h2 {
    font-size: 1.5em;
}

#container {
    position: absolute;
    width: 70%;
    border: var(--navy) 2px solid;
    top: calc(50vh - 35%);
    left: calc(50vw - 35%);
    text-align: center;
    background: white;
    box-shadow: var(--navy) -8px 8px 0px;
}

#start-button {
    width: 25%;
    padding: 10px;
    margin: 2em 0;
    background: var(--lightgreen);
    color: var(--navy);
    border: var(--green) 1px solid;
}

#start-button:hover {
    border: var(--navy) 1px solid;
    background: var(--green);
    transform: scale(102%);
    box-shadow: var(--navy) -2px 2px 0px;
}

#timer {
    display: none;
    justify-content: flex-end;
    flex-direction: row;
    font-weight: 700;
    padding: 10px;
    color: var(--yellow);
    border: var(--lightblue) 3px solid;
    background: linear-gradient(180deg, rgba(16,22,47,1) 0%, rgba(48,63,122,1) 100%);
}

#checker {
    display: none;
    flex-direction: row;
    font-weight: 700;
    padding: 10px;
    color: var(--yellow);
    border: var(--lightblue) 3px solid;
    background: linear-gradient(180deg, rgba(16,22,47,1) 0%, rgba(48,63,122,1) 100%);
}

#quiz-block {
    display: none;
    padding: 2px;
    margin: 1em;
}

#question {
    font-weight: 700;
    font-size: 1.25em;
    color: var(--purple);
}

#play-again {
    display: none;
    width: 100%;
    padding: 10px;
    margin-top: 1em;
    background: var(--lightgreen);
    color: var(--navy);
    border: var(--green) 1px solid;
}

#play-again:hover {
    border: var(--navy) 1px solid;
    background: var(--green);
    transform: scale(102%);
    box-shadow: var(--navy) -2px 2px 0px;
}

#guesses {
    display: none;
    width: 50%;
    margin: 0;
}

#guesses li {
    list-style-type: none;
    text-align: center;
    padding: .75em;
    box-sizing: border-box;
    background: #ccc;
    margin: 2em;
}

#guesses li:hover {
    background: var(--purple);
    color: white;
    transform: scale(102%);
    box-shadow: #000 -2px 2px;
}

#user-initials {
    display: none;
    padding: 10px;
    margin-top: 2em;
}

#user-name {
    border: var(--navy) 1px solid;
    padding: 10px;
    color: var(--purple);
}

#user-name:focus {
    border: var(--purple) 2px solid;
    box-shadow: var(--navy) -2px 2px;
}

#submit-button {
    padding: 10px;
    box-sizing: border-box;
    background: #ccc;
    margin: 1em;
}

#submit-button:hover {
    background: var(--purple);
    color: white;
    transform: scale(102%);
    box-shadow: #000 -2px 2px;
}

#user-score {
    display: none;
    text-align: center;
    width: 50%;
    font-weight: 700;
    padding: 10px;
    margin-bottom: 2em;
    color: var(--yellow);
    border: var(--lightblue) 3px solid;
    background: linear-gradient(180deg, rgba(16,22,47,1) 0%, rgba(48,63,122,1) 100%);
}

#user-score li {
    list-style-type: none;
    color: var(--green);
    text-align: center;
}

.info {
    display: inline-flex;
    flex-direction: row;
    
}

.info p {
    margin: 1em;
}